.footer {
    padding-bottom: 30px;
}

.footer__container {
    padding-top: 30px;
    display: flex;
    align-items: center;
    border-top: 1px solid #D8DEE3;
}

.footer__desc {
    margin: 0;
    margin-left: 8px;
    padding: 0;
}

.footer__link-list {
    margin: 0;
    margin-left: 50px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.footer__link-item + .footer__link-item {
    margin-left: 40px;
}

.footer__link {
    text-decoration: none;
}

.footer__link:hover {
    border-bottom: 1px solid #0B58CA;
}